.header{
	background: url('img/gr-header.jpg') no-repeat fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    min-height: 100vh;
	padding: 0;
}
